<div class="jumbotron">
  <h1 class="title" style="color:black" >Working Everywhere</h1>
  <p class="slogan" style="color:black" >Working Everywhere 是一个有手艺的人寻找自由工作时间的机会，working everywhere
    <br>
    在这里，你可以找到你可以斜杠你自己人生的机会
    <br>
    在这里，你可以找到你自己的人生的另外一个价值
    <br>
    在这里，你可以实现你工作8小时之外的另外一个自我
    <br>
    在这里，你还可以，只要你能想得到的所有的一切
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上斜杠你的人生</a></p>
</div>

<section id="company">
  <div class= "container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class="img-thhumbnail">
          <div class="caption">
            <h3>来自地球</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@working-everywhere.com</h3>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
        <div class="caption">
          <h3>007-88888888</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- 底部链接 -->
<div class="container copy-right">
        <div class="footer-tag-list">
            <a href="http://www.baidu.com" target="_blank" class="transition">请您投票，非常感谢您的宝贵的一票！</a>
        </div>
</div>
