<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <button class="btn btn-default btn-lg"><i class="fa fa-refresh fa-spin"></i> Loading</button>
            <button class="btn btn-default btn-lg"><i class="fa fa-spinner fa-spin"></i> Loading</button>
        </div>

        <div class="col-md-6">
            <button class="btn btn-primary btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <button class="btn btn-primary btn-lg"><i class="fa fa-refresh fa-spin"></i> Loading</button>
            <button class="btn btn-primary btn-lg"><i class="fa fa-spinner fa-spin"></i> Loading</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-danger btn-lg"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <button class="btn btn-danger btn-lg"><i class="fa fa-refresh fa-spin"></i> Loading</button>
            <button class="btn btn-danger btn-lg"><i class="fa fa-spinner fa-spin"></i> Loading</button>
        </div>

        <div class="col-md-6">
            <button class="btn btn-info btn-md"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <button class="btn btn-info btn-md"><i class="fa fa-refresh fa-spin"></i> Loading</button>
            <button class="btn btn-info btn-md"><i class="fa fa-spinner fa-spin"></i> Loading</button>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-warning btn-sm"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-refresh fa-spin"></i> Loading</button>
            <button class="btn btn-warning btn-sm"><i class="fa fa-spinner fa-spin"></i> Loading</button>
        </div>

        <div class="col-md-6">
            <button class="btn btn-success btn-xs"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</button>
            <button class="btn btn-success btn-xs"><i class="fa fa-refresh fa-spin"></i> Loading</button>
            <button class="btn btn-success btn-xs"><i class="fa fa-spinner fa-spin"></i> Loading</button>
        </div>
    </div>

</div>
